name: DevSecOps - Trivy Scan

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  security-scan:
    runs-on: ubuntu-latest
    steps:
      # 1. Récupérer le code
      - name: Checkout code
        uses: actions/checkout@v3

      # 2. Lancer l'analyse Trivy (Scan du système de fichiers 'fs')
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'fs'             # On scanne les fichiers du repo
          scan-ref: '.'
          format: 'table'             # Affichage lisible dans les logs
          exit-code: '1'              # IMPORTANT: 1 = Fait échouer le pipeline si failles trouvées
          ignore-unfixed: true        # Ignore les failles sans correctif disponible
          severity: 'CRITICAL,HIGH'   # On ne s'arrête que pour les failles graves
